    body {
    	font-family: 'Courier';
    	background-color: #3a3a3a;
    	color: white;
    }
    a {
    	text-decoration: none;
    	color: white;
    }
    a:hover {
    	text-decoration: underline;
    	color:white !important;
    	transition: color 2s;
    }
    p {
    	font-size: 14px;
    	font-weight: 200;
    }
    h1 {
     	font-size: 10vw;
    	line-height: 0;
    	letter-spacing: -1px; 
    	text-align: center;
    	margin-bottom: 80px;
    }
    h2 {
    	font-size: 80px;
    	line-height: 0;
    }
    .link {
    	text-decoration: underline;
    }
    .small_text {
    	font-size: 10px;
    	margin-top: 20px
    }
    .right {
    	float: right;
    	text-aling: right;
    }
    table {
   		border-collapse: collapse;
    }
    td {
    	width: 25px;
    	height: 25px;
    	background-color: #3a3a3a;
    	border: 1px solid #3a3a3a;
    	padding: 2px;
    }
    td:hover {
    	box-shadow: -1px 0px 17px -3px rgba(255,0,0,1);
    	border: 1px solid red;
    }
    .scores {
    	float: left;
    	margin: 0 0 0 20px ;
    	padding: 5px;
    	width: 240px;
    }
    .scores_line {
    	float: left;
    	padding: 2px;
    	width: 80%;
    	margin: 2px;
    }
    .interaction {
    	float:left;
    	width: 268px;
    	margin-bottom: 25px;
    }
    .interaction .field {

    }
    .container {
    	width: 100%;
    	height: 100%;
    	display: flex;
    }
    .mine_container {
	    padding: 15px;
	    width: 550px;
    }
    .img {
    	width: 25px;
    	height: 25px;
   		margin-bottom: -4px; 
   		z-index: 9999;
   		position: relative;
    }
    .title {
    	width: 100%;
    	margin-top: 30vh;
    }
    .center {
    	text-align: center;
    }
    .marking_button {
    	font-size: 12px;
    	text-align: center;
    	text-transform: uppercase;
    	color: white;
    	padding: 5px;
    	margin-bottom:52px;
    	border-width:2px;  
    	border-style:outset;
    	border-color:#494949;
    	background-color: #494949;
    }
    .marking_button:hover {
    	box-shadow: -1px 0px 17px -3px rgba(255,0,0,1);
    }
    .marking_button_active {
    	font-size: 12px;
    	text-align: center;
    	text-transform: uppercase;
    	color: white;
    	padding: 5px;
    	border-width:2px;  
    	border-style:outset;
    	border-color:#494949;
    	background-color: #494949;
    	box-shadow: -1px 0px 17px -3px rgba(255,0,0,1);
    }
    .marking_button a {
    	display: inline-block;
        width: 100%;
    	height: 42px;
    }
    .marking_button_active a {
    	display: inline-block;
        width: 100%;
    	height: 42px;
    	text-decoration: none !important;
    }
    .red {
    	color: red;
    }
    .login_button {
     	font-size: 12px;
    	text-align: center;
    	text-transform: uppercase;
    	color: white;
    	padding: 5px;
    	width: 100%;
    	margin:0 auto;
    	border-width:2px;  
    	border-style:outset;
    	border-color:#494949;
    	background-color: #494949;   
    }
    .login_button:hover {
    	box-shadow: -1px 0px 17px -3px rgba(255,0,0,1);
    }
    .login {
    	width: 330px;
    	margin: 0 auto;
    }
    .input {
   	 	width: 160px;
   	 	margin-bottom: 20px; 
   	 	display: inline-block;
    }
    .input_field {
    	font-family: 'Courier';
    	font-size: 12px;
    	text-align: center;
    	color: white;
    	padding: 5px;
    	border-width:2px;  
    	border-style:outset;
    	border-color:#494949;
    	background-color: #323232;
    }