<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GuessNumber</title>
    <link rel="stylesheet" href="/css/style.css">  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
 <script language="javascript"> 
function toggle() {
	var ele = document.getElementById("toggleText");
	var text = document.getElementById("displayText");
	if(ele.style.display == "block") {
    		ele.style.display = "none";
		text.innerHTML = "Show HIGH SCORES";
  	}
	else {
		ele.style.display = "block";
		text.innerHTML = "Hide HIGH SCORES";
	}
} 
</script>
</head>
	<body>
	<div class="header">
			<div class="logo"><span><p><a href="/">GameStudio:</a>&nbsp;&nbsp;<a href="/puzzle">Puzzle</a>
			 / <a href="/minesweeper">Minesweeper</a> / <a class="unlink red">Guess The Number</a></p></span></div>
		<div th:if="${@mainController.logged}" class="account right"><span>
			<p>You are logged in as 
			<span class="red" th:text="${@mainController.loggedPlayer.name}"/> | 
			<a href="/logout" class="link">Log out</a></span></p>
		</div>
		<div  th:if="${not @mainController.logged}" class="account right"><span>
			<p>You are not logged. Please 
			<a href="/" class="link">log in</a> | 
			<a href="/register" class="link">register</a></span></p>
		</div>
	</div>
		<div class="container">	
			<div class="guess">
				<div class="title">
					<h2 class="center game_title">Guess The Number</h2>
					<p class="right rating_title">Rating for this game: <span th:text="${@guessController.ratings}"/><img src="/css/star_full.svg" class="star"></p>
				</div>
				<div class="conversation">	
<!--  					<span th:text="${@guessController.answer} ? '': ${@guessController.message}"></span> -->
					<div th:if="${not @mainController.logged}">
						<p class="ai">AI: Welcome stranger, guess what number I am thinking between 1 and 10.</p>
					</div>
					<div th:if="${@mainController.logged}">
						<p class="ai">AI: Welcome <span class="red" th:text="${@mainController.loggedPlayer.name}"/>, guess what number I am thinking between 1 and 10. </p>
					</div>
					<span th:utext="${@guessController.conversation}"/>
					<span th:utext="${@guessController.message}"/>
					<form action="/guessnumber/input" th:if="${not @guessController.solved}">
						<input type="text" name="guess" class="guess_input_field" autofocus/>
						<input type="submit" value="guess" class="guess_button" id="x"/><br>
					</form>
					<div th:if="${not @guessController.solved}">
						<a href="/guessnumber">Start new guessing</a> | <a href="/">Exit game</a> <a class="right show_scores" id="displayText" href="javascript:toggle();">Show HIGH SCORES</a>
					</div>
					<div th:if="${@guessController.solved}">
						<a href="/guessnumber"><div class="final_button">Start new guessing </div></a>
						<a href="/"><div class="final_button">Exit game </div></a>
						<a class="right" href="javascript:toggle();" th:if="${@mainController.logged}"><div id="displayText" class="final_button">Show HIGH SCORES </div></a>
						<br><br><br>
						<div class="rating" th:if="${@mainController.logged}">
								<span>RATE THIS GAME:</span>							
								<form class="stars" action="/guessnumber/rating">
									<div class="stars_center">
	    							<input class="star star-5" id="star-5" type="radio" value="5" name="rate"/>
	    								<label class="star star-5" for="star-5"></label>
	    							<input class="star star-4" id="star-4" type="radio" value="4" name="rate"/>
	    								<label class="star star-4" for="star-4"></label>
	    							<input class="star star-3" id="star-3" type="radio" value="3" name="rate"/>
	   									<label class="star star-3" for="star-3"></label>
  									<input class="star star-2" id="star-2" type="radio" value="2" name="rate"/>
	   									<label class="star star-2" for="star-2"></label>
	   								<input class="star star-1" id="star-1" type="radio" value="1" name="rate"/>
	    								<label class="star star-1" for="star-1"></label>
	    							</div>
	   								<input type="submit" value="submit" class="rate_button"/>
								</form>
							</div>
						<a class="right" href="javascript:toggle();" th:if="${not @mainController.logged}"><div id="displayText" class="final_button">Show HIGH SCORES </div></a>		
					</div>
				</div>
										
					<div class="guess_scores" id="toggleText" style="display: none">
					<div class="scores_x">
						<h3>TOP 10 GUESSERS</h3>
						<p class="center">___________________________</p>
						<p>&nbsp;No. | &nbsp;Username &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;TIME</p>
						<div class="score">
							<ol>
								<li th:each="score : ${@guessController.scores}" class="scores_line">
								&nbsp;<span th:text="${score.username}"/>:
								<span th:text="${score.value}" class="right"/>
								</li>
							</ol>
						</div>
					</div>
					</div>			
<!--  					<div th:text="${@guessController.clear}"/> -->
				<div id="xx" class="guess_comments">
					<p>COMMENT SECTION</p>
					<ol th:each="comment : ${@guessController.comments}">
						<div class="comment">
							<div class="users">
								<span class="username" th:text="${comment.username}"/><br>
								<span class="date" th:text="${comment.date}"/>
							</div>
							<div class="content"><span th:text="${comment.content}"/></div>
						</div>
					</ol>
					<div th:if="${@mainController.logged}">
						<form class="comment_form" action="/guessnumber/comment">
							<textarea name="content" min="1" max="255" class="submit_field" required="requred"></textarea>
							<input type="submit" value="submit" class="submit_button"/>
						</form>
					</div>
				</div>
				</div>
			</div>	
			<br/>
	</body>
</html>
