<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Gamestudio</title>
<link rel="stylesheet" href="/css/style.css">   
</head>
<body>
	<div class="contanier">
		<div class="title">
			<h1>GameStudio</h1>
			<h3 class="center">	
				<a href="/puzzle">Puzzle</a>
				/
				<a href="/minesweeper">Minesweeper</a>
				/
				<a href="/guessnumber">Guess The Number</a>
				/
				<a>Torpedo</a>			
			</h3>
			<br/>		
			<div th:if="${@mainController.logged}" class="login center-l">
				<p>You are logged as <span th:text="${@mainController.loggedPlayer.name}" class="red"/></p>
				<p>Now! Let's GAME!<br/></p>
				<a href="/logout" class="center"><br/>Logout</a><br/>
			</div>
			<div th:if="${not @mainController.logged}" class="login">			
				<h3 class="center">LOGIN*</h3>
				<form action="/login">
						<div class="input"><p>Name:</p> <input type="text" name="name" required="required" class="input_field"/></div>
						<div class="input"><p>Password: </p> <input type="password" required="required" name="password" class="input_field"/></div>
						<p th:utext="${@mainController.message}"/>
						<input type="submit" value="login" class="login_button"/>
				</form>
				<p>*Only <a href="/register" class="link">registered</a> users can save scores, comment and rate games. <a href="/register" class="link">Register</a></p>
			</div>			
		</div>
	</div>
</body>
</html>
