<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Minesweeper</title>
	<link rel="stylesheet" href="/css/style.css">   
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<!-- <div th:text="${@minesweeperController.message}"/> -->
	<div class="container">
		<div class="title">
			<div th:if="${@mainController.logged}">
			<p>You are logged as <span th:text="${@mainController.loggedPlayer.name}"/></p><br>
			</div>
			<h2 class="center">Minesweeper</h2>
			<p>Welcome! Start playing by clicking on tiles.<br> You can also mark tiles by entering the MARKING mode</p>
		</div>
		<div class="interaction">
		
			<div th:utext="${@minesweeperController.htmlField}" class="field"/>
				<br>
				<a href="/minesweeper/mark">
					<div class="marking_button">
						<p th:if="${not @minesweeperController.marking}" >Enter MARKING mode</p>
						<p th:if="${@minesweeperController.marking}" class="red">You are now MARKING<img scr="images/marker.jpg"></p>
					</div>
				</a>
				<br><br>
				<a href="/minesweeper">Restart game</a>&ensp;&ensp;&ensp;
				<a href="/">Exit game</a>

			<h3 th:if="${@minesweeperController.failed}">Game over</h3>
			<h3 th:if="${@minesweeperController.solved}">You won!</h3>
		</div>
		
		<ol>
		<li th:each="score : ${@minesweeperController.scores}" class="scores">
			<span th:text="${score.ident}"/>
			<span th:text="${score.game}"/>
			<span th:text="${score.username}"/>
			<span th:text="${score.value}"/>
		</li>
		</ol>
	
	</div>
</body>
</html>
