<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Minesweeper</title>
	<link rel="stylesheet" href="/css/style.css">   
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<!-- <div th:text="${@minesweeperController.message}"/> -->
</head>
<body>
	<div class="header">
			<div class="logo"><span><p><a href="/">GameStudio:</a>&nbsp;&nbsp;<a href="/puzzle">Puzzle</a>
			 / <a class="link">Minesweeper</a> / <a href="/guessnumber">Guess The Number</a> / <a>Torpedo</a></p></span></div>
		<div th:if="${@mainController.logged}" class="account right"><span>
			<p>You are logged in as 
			<span class="red" th:text="${@mainController.loggedPlayer.name}"/> | 
			<a href="/logout" class="link">Log out</a></span></p>
		</div>
		<div  th:if="${not @mainController.logged}" class="account right"><span>
			<p>You are not logged. Please 
			<a href="/" class="link">log in</a> | 
			<a href="/register" class="link">register</a></span></p>
		</div>
	</div>
	<div class="container">	
		<div class="mine">
			<div class="title">
				<h2 class="center game_title">Minesweeper</h2>
				<p class="right rating_title">Rating for this game: <span th:text="${@minesweeperController.ratings}"/><img src="/css/star_full.svg" class="star"></p>
			</div>
		<div class="interaction">
			<div class="field">
				<div th:utext="${@minesweeperController.htmlField}"/>
				<br>
				<div th:if="${@minesweeperController.playing}">
					<div th:if="${not @minesweeperController.marking}">
					<a href="/minesweeper/mark"><div class="marking_button">Enter MARKING mode</div></a>
					</div>
				</div>
				<div  th:if="${@minesweeperController.marking}">
					<a href="/minesweeper/mark"><div class="marking_button_active">Exit MARKING mode*</div></a>
				</div>
 				<p th:if="${@minesweeperController.failed}" class="red center state">Game over</p>
 				<p th:if="${@minesweeperController.solved}" class="center state">You won!</p>
				
				<p th:if="${@minesweeperController.marking}" class="small_text">*Click on tiles to mark them or click on marked tiles to "unmark" them</p>
				<a th:if="${@minesweeperController.marking}" href="/minesweeper">Restart game</a>
  				<a th:if="${@minesweeperController.marking}" href="/" class="right">Exit game</a>
 				
 				<a th:if="${@minesweeperController.playing}" href="/minesweeper">Restart game</a>
 				<a th:if="${@minesweeperController.playing}" href="/" class="right">Exit game</a>
 				<a class="final_button" th:if="${@minesweeperController.failed}" href="/minesweeper">Start new game</a>
				<a class="final_button right" th:if="${@minesweeperController.failed}" href="/">Exit game</a>
 				<a class="final_button" th:if="${@minesweeperController.solved}" href="/minesweeper">Start new game</a>
				<a class="final_button right" th:if="${@minesweeperController.solved}" href="/">Exit game</a>
				<br>
			</div>
			<div class="scores">
				<h3>TOP 10 FASTEST SWEEPERS</h3>
				<p class="center">___________________________</p>
				<p>&nbsp;No. | &nbsp;Username &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;TIME</p>
				<div class="score">
					<ol>
						<li th:each="score : ${@minesweeperController.scores}" class="scores_line">
						&nbsp;<span th:text="${score.username}"/>:
						<span th:text="${score.value}" class="right"/>
						</li>
					</ol>
				</div>
			</div>			
		</div>
		<div th:if="${@minesweeperController.solved}">
			<div class="rating" th:if="${@mainController.logged}">
					<span class="rate_title">RATE THIS GAME:</span>							
					<form class="stars" action="/minesweeper/rating">
						<div class="stars_center">
							<input class="star star-5" id="star-5" type="radio" value="5" name="rate"/>
	   							<label class="star star-5" for="star-5"></label>
							<input class="star star-4" id="star-4" type="radio" value="4" name="rate"/>
	   							<label class="star star-4" for="star-4"></label>
	  						<input class="star star-3" id="star-3" type="radio" value="3" name="rate"/>
								<label class="star star-3" for="star-3"></label>
  							<input class="star star-2" id="star-2" type="radio" value="2" name="rate"/>
	   							<label class="star star-2" for="star-2"></label>
	   						<input class="star star-1" id="star-1" type="radio" value="1" name="rate"/>
	    						<label class="star star-1" for="star-1"></label>
	   					</div>
	  					<input type="submit" value="submit" class="rate_button"/>
					</form>
			</div>
		</div>
		<div th:if="${@minesweeperController.failed}">
			<div class="rating" th:if="${@mainController.logged}">
					<span class="rate_title">RATE THIS GAME:</span>							
					<form class="stars" action="/minesweeper/rating">
						<div class="stars_center">
							<input class="star star-5" id="star-5" type="radio" value="5" name="rate"/>
	   							<label class="star star-5" for="star-5"></label>
							<input class="star star-4" id="star-4" type="radio" value="4" name="rate"/>
	   							<label class="star star-4" for="star-4"></label>
	  						<input class="star star-3" id="star-3" type="radio" value="3" name="rate"/>
								<label class="star star-3" for="star-3"></label>
  							<input class="star star-2" id="star-2" type="radio" value="2" name="rate"/>
	   							<label class="star star-2" for="star-2"></label>
	   						<input class="star star-1" id="star-1" type="radio" value="1" name="rate"/>
	    						<label class="star star-1" for="star-1"></label>
	   					</div>
	  					<input type="submit" value="submit" class="rate_button"/>
					</form>
			</div>
		</div>
		<div class="guess_comments">
			<p>COMMENT SECTION</p>
			<ol th:each="comment : ${@minesweeperController.comments}">
					<div class="comment">
						<div class="users">
							<span class="username" th:text="${comment.username}"/><br>
								<span class="date" th:text="${comment.date}"/>
							</div>
							<div class="content"><span th:text="${comment.content}"/></div>
						</div>
					</ol>
					<div th:if="${@mainController.logged}">
						<form class="comment_form" action="/minesweeper/comment">
							<textarea name="content" min="1" max="255" class="submit_field" required="requred"></textarea>
							<input type="submit" value="submit" class="submit_button"/>
						</form>
					</div>
				</div>
		</div>	
	</div>
</body>
</html>
