<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Puzzle</title>
    <link rel="stylesheet" href="/css/style.css">  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
	<body>
		<div class="header" th:if="${@mainController.logged}">
			<p>Welcome to GameStudio <span class="right">You are logged in as <span th:text="${@mainController.loggedPlayer.name}"/> | <a href="/logout" class="link">Log out</a></span></p>
		</div>
		<div class="header" th:if="${not @mainController.logged}">
			<p>Welcome to GameStudio <span class="right">You are not logged. Please <a href="/" class="link">log in</a></span></p>
		</div>
		<div class="mine_container">
		<h2>Puzzle</h2>
		<div class="interaction">
			<div th:if="${@puzzleController.solved}">
				<h3>You have solved the puzzle.</h3>
			</div>

			<!-- Solved: <span th:text="${@puzzleController.solved}"/><br/> -->
			<br>
			<div th:if="${not @puzzleController.solved}"> 
				<div th:utext="${@puzzleController.htmlField}"/>
			</div>

			<h3 th:if="${@puzzleController.solved}" class="field center ">You won!</h3>
			<a th:if="${not @puzzleController.solved}" href="/puzzle">Restart game</a>
			<a th:if="${@puzzleController.solved}" href="/puzzle">Start new game</a>
			<a href="/" class="right">Exit game</a>
			<br/>
			<p>Hint:</p>
			<img class="hint" src="/img/puzzle.jpg">
		</div>	
						
			<div class="scores">
			<h3 class="center">TOP 10 PLAYERS</h3>
			<p class="center">_______________________</p>
			<p>&nbsp;No. | Username   |  # of moves</p>
			<ol>
			<li th:each="score : ${@puzzleController.scores}" class="scores_line">
				&nbsp;<span th:text="${score.username}"/>
				<span class="" th:text="${score.value}"/>
			</li>
			</ol>
		</div>
	</body>
</html>
