<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Puzzle</title>
    <link rel="stylesheet" href="/css/style.css">  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
	<body>
		<h1>Puzzle</h1>
		<div th:if="${@mainController.logged}">
			You are logged as <span th:text="${@mainController.loggedPlayer.name}"/><br>
		</div>
		<div th:if="${not @mainController.logged}">
			You are not logged. Please <a href="/">log in</a><br>
		</div>
		<div th:if="${@mainController.logged}">
			<a href="/logout">Logout</a>
		</div>
		<a href="/puzzle">New game</a><br/>
		
		<div th:if="${@puzzleController.solved}">
			You have solved the puzzle.<br>
			<img src="/img/puzzle.jpg">
		</div>

		<!-- Solved: <span th:text="${@puzzleController.solved}"/><br/> -->

		<div th:if="${not @puzzleController.solved}"> 
			<div th:utext="${@puzzleController.htmlField}"/>
		</div>
		<h3>Scores</h3>
		<ol>
		<li th:each="score : ${@puzzleController.scores}">
			<span th:text="${score.ident}"/>
			<span th:text="${score.game}"/>
			<span th:text="${score.username}"/>
			<span th:text="${score.value}"/>
		</li>
		</ol>
		
	</body>
</html>
