<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Puzzle</title>
    <link rel="stylesheet" href="/css/style.css">  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!-- 	<div class="header"> -->
<!-- 			<div class="logo"><span><p><a href="/">GameStudio:</a>&nbsp;&nbsp;<a class="link">Puzzle</a> -->
<!-- 			 / <a href="/minesweeper">Minesweeper</a> / <a href="/guessnumber">Guess The Number</a></p></span></div> -->
<!-- 		<div th:if="${@mainController.logged}" class="account right"><span> -->
<!-- 			<p>You are logged in as  -->
<!-- 			<span class="red" th:text="${@mainController.loggedPlayer.name}"/> |  -->
<!-- 			<a href="/logout" class="link">Log out</a></span></p> -->
<!-- 		</div> -->
<!-- 		<div  th:if="${not @mainController.logged}" class="account right"><span> -->
<!-- 			<p>You are not logged. Please  -->
<!-- 			<a href="/" class="link">log in</a> |  -->
<!-- 			<a href="/register" class="link">register</a></span></p> -->
<!-- 		</div> -->
<!-- 	</div> -->
	<nav th:insert="fragments :: header('puzzle')"/>
	<div class="container">	
		<div class="puzzle">
			<div class="title">
				<h2 class="center game_title">Puzzle</h2>
				<p class="right rating_title">Rating for this game: <span th:text="${@puzzleController.ratings}"/><img src="/css/star_full.svg" class="star"></p>
			</div>
		<div class="puzzle_container">
			<div class="grid">
				<h3 th:if="${@puzzleController.solved}">You have solved the puzzle.</h3>
				<!-- Solved: <span th:text="${@puzzleController.solved}"/><br/> -->
				<span th:if="${@puzzleController.solved}" class="solved center ">SOLVED!</span>
				<div th:utext="${@puzzleController.htmlField}"/>
				<br>
				<a th:if="${not @puzzleController.solved}" href="/puzzle">Restart game</a>
				<a th:if="${@puzzleController.solved}" href="/puzzle">Start new game</a>
				<a href="/" class="right">Exit game</a>
				<br/>
			</div>			
			<div class="puzzle_scores scores">
				<h3>TOP 10 PUZZLE SOLVERS</h3>
				<p class="center">___________________________</p>
				<p>&nbsp;No. | &nbsp;Username &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;TIME</p>
				<div class="score">
					<ol>
						<li th:each="score : ${@puzzleController.scores}" class="scores_line">
						&nbsp;<span th:text="${score.username}"/>:
						<span th:text="${score.value}" class="right"/>
						</li>
					</ol>
				</div>
			</div>	
		</div>	
		<div th:if="${@puzzleController.solved}">
			<div class="rating" th:if="${@mainController.logged}">
					<span class="rate_title">RATE THIS GAME:</span>							
					<form class="stars" action="/puzzle/rating">
						<div class="stars_center">
							<input class="star star-5" id="star-5" type="radio" value="5" name="rate"/>
	   							<label class="star star-5" for="star-5"></label>
							<input class="star star-4" id="star-4" type="radio" value="4" name="rate"/>
	   							<label class="star star-4" for="star-4"></label>
	  						<input class="star star-3" id="star-3" type="radio" value="3" name="rate"/>
								<label class="star star-3" for="star-3"></label>
  							<input class="star star-2" id="star-2" type="radio" value="2" name="rate"/>
	   							<label class="star star-2" for="star-2"></label>
	   						<input class="star star-1" id="star-1" type="radio" value="1" name="rate"/>
	    						<label class="star star-1" for="star-1"></label>
	   					</div>
	  					<input type="submit" value="submit" class="rate_button"/>
					</form>
			</div>
		</div>	
		<div th:insert="fragments :: comment('puzzle')"/>
		</div>		
	</div>
</body>
</html>
