<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Gamestudio</title>
<link rel="stylesheet" href="/css/style.css">   
</head>
<body>
	<div class="contanier">
		<div class="title">
			<h1>GameStudio</h1>
			<h3 class="center">	
				<a href="/puzzle">Puzzle</a>
				/
				<a href="/minesweeper">Minesweeper</a>
				/
				<a href="/guessnumber">Guess The Number</a>
				/
				<a>Torpedo</a>			
			</h3>
			<br/>
		
			<div class="login center">			
				<h3 class="center">REGISTER*</h3>
			</div>
				<p class="center-l">For name use only combinations <br> of letters and numbers.</p>
			<div class="login">	
				<form action="/register/regist">
					<div class="input"><p>Username:</p> <input type="text" name="name" pattern="[A-Za-z0-9]{1,255}" required="required"
					class="input_field"/></div>
					<div class="input"><p>Password: </p> <input type="password" name="password" required="required" class="input_field"/></div>
					<input type="submit" value="register" class="login_button"/>
				</form>
				<p>*Only registered users can save scores, comment and rate games. <a href="/" class="link">Log in</a></p>
				<p th:utext="${@mainController.message}"/>
			</div>			
		</div>
	</div>
</body>
</html>
